@import 'tailwindcss';
@plugin "daisyui" {
}

@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(1.000 0.007 61.4);
	--color-primary: oklch(0.640 0.175 146.7);
	--color-secondary: oklch(0.849 0.151 81.3);
	--color-accent: oklch(0.554 0.107 79.0);
	--color-neutral: oklch(0.558 0.016 244.9);
	--color-neutral-content: oklch(0.262 0.009 248.2);
	--color-info: oklch(0.967 0.053 151.9);
	--color-success: oklch(0.545 0.148 146.8);
	--color-warning: oklch(0.554 0.107 79.0);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.3125rem;
	--size-field: 0.3125rem;
	--border: 0px;
	--depth: 0;
	--noise: 0;
}

@plugin '@tailwindcss/typography';

@layer base {
	html {
		font-family: 'Figtree', sans-serif;
		height: 100%;
	}
}
